<h1>Dashboard</h1>
{{#each userPosts}}
    <div class="post">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <form action="/post/{{id}}?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
{{/each}}
<h2>Add New Post</h2>
<form id="post-form" action="/post" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Submit</button>
</form>
